body, html {
    padding: 0px;
    margin: 0px;
    background-color: rgb(22, 22, 22);

    --font-family: 'Roboto', sans-serif;
    font-family: 'vcr_osd_mono', sans-serif;
    color: white;

    --cursor_normal: url("assets/cursor_normal.png");
    --cursor_active: url("assets/cursor_active.png");
}

@font-face {
    font-family: vcr_osd_mono;
    src: url("assets/vcr_osd_mono.ttf");
}

button {
    color: white;
    font-family: 'vcr_osd_mono', sans-serif;
}

button:hover {
    cursor: pointer;
}

#menu {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 7%;
    max-height: 53px;
    background-color: rgba(255, 255, 255, 0.048);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1%;
    z-index: 2;
}

.menuoption {
    background: none;
    border: none;
    font-size: 5vh;
    transform: translateY(-0%);
    height: 100%;

    transition: transform 150ms, height 150ms, text-shadow 150ms;
}

.menuoption:hover {
    transform: translateY(-50%);
    height: 200%;
    text-shadow: #fff 1px 0 10px;
}

#games {
    width: 90%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.gsection {
    width: 100%;
    height: fit-content;
    position: relative;
    left: 5%;
}

.gheader {
    font-size: 6vh;
}

.goption {
    position: relative;
    background: none;
    border: none;
    font-size: 3.5vh;
    transform: translateY(-0%);
    width: 100%;
    text-align: left;

    transition: transform 150ms, height 150ms, text-shadow 150ms;
}

.goption:hover {
    transform: translateX(2%);
    text-shadow: #fff 1px 0 10px;
}

#main {
    width: 95%;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    z-index: 0;
    height: 91%;
}

.screenshot {
    width: 100%;
    padding-bottom: 4vh;
}